*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato',sans-serif;
    background-color: #ffffff;
    color: #5a5a5a;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ----------------REUSABLE--------------- */
.btn
{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
}
.btn:hover,
.btn:active{
    background-color: #d35400;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* ----------------HAEDER---------------- */
header{
    background-image:linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85) ), url(../img/background4.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh ;
    /* view hight: độ bao phủ trang web */
}
.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
.main-nav{
    float: right;
    list-style: none;
    /* bỏ dấu trước list */
    margin-right: 50px;
    margin-top: 50px;
}
.main-nav li{
    display: inline;
    /* hiển thị tên 1 hàng */
    padding: 30px;
   
}
.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    /* bỏ gạch chân */
    transition: border-bottom 0.5s;
    padding: 3px 0; 
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cccccc;

}